@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#__next {
  height: 100%;
  width: 100%;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-telugu {
  font-family: "Noto Serif Telugu", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

